<div class="wrapper">
	<div id="top-wrap">
		<div id="top"><%= link_to(image_tag("logo.png", :border => 0, :size => "188x141", :class => "logo"), {:controller => "location", :action => "start"}, :alt => "Discover the cheapest method of travel with Getset") %></div>
</div>
	<div id="header-wrap">
		<div id="header">Travel cost from <span class="htitle"><%= @location.city_from %> to <%= @location.city_to %></span></div>
	</div>
	<div id="topdiv-wrap2">
		<div id="topdiv2">all prices round trip</div>
	</div>
	<div id="content-wrap">
		<div id="content">
			<br /><br />
			<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content-tab">
				<tr>
					<td align="right" valign="center" width="50%" style="padding: 0 30px 0 0;"><%= image_tag("icn-plane.png", :size => "55x54") %></td>
					<td align="left" valign="top" width="50%">
						<span class="subtitle">by plane:</span><br />
						<span class="title"><%= @location.get_kayak_feed %><br /></span>
						<span class="subtitle2"><img src="http://imps.acetrk.com/i/22O/6K.jpg?subid=2&websiteid=2859" border=0 width=1 height=1><a href="http://trk.acetrk.com/r/BJ/22O/27F/?url_id=415">Find more flights on Kayak.com</a></span><br />
					</td>
				</tr>
				<tr>
					<td align="right" valign="center" width="50%" style="padding: 23px 30px 0 0;"><%= image_tag("icn-car.png", :size => "55x54") %></td>
					<td align="left" valign="top" width="50%" style="padding-top: 23px;">
						<span class="subtitle">by car*:</span><br />
						<span class="title"><%= number_to_currency(@location.fixed_car_round_trip) %> in gas cost</span><br />
						<img src="http://imps.acetrk.com/i/22O/6B.jpg?subid=2&websiteid=2859" border=0 width=1 height=1><a href="http://trk.acetrk.com/r/BJ/22O/27F/?url_id=406">Search for rental cars on Kayak.com</a>
					</td>
				</tr>
				<tr>
					<td align="right" valign="top" width="50%" style="padding: 23px 30px 0 0;"><%= image_tag("icn-bus.png", :size => "55x54") %></td>
					<td align="left" valign="top" width="50%" style="padding-top: 22px;">
						<span class="subtitle">by bus:</span><br />
						<span class="title"><%= @location.get_bus_cost %><br /></span>
						<span class="subtitle"><%= @time %> to <%= @future_time %><br /></span>
						<span class="subtitle2">Via Greyhound</span>
						<br /><br />
						<span class="note">
							<em>*Cost of Gas, Based on US Average Fuel Cost of<br />
							$2.50 and 30 miles/gallon</em></span>
						<br /><br />
						<%= link_to(image_tag("btn-tryanothersearch.png", :border => 0, :size => "193x30"), {:controller => "location", :action => "start"}, :alt => "Discover the cheapest method of travel with Getset") %>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="push"></div>
</div>