
<h1> Here's a cost comparison of travel methods from <%= @location.city_from %> to <%= @location.city_to %> </h1>
<h3> All prices round trip.</h3>
<p>
<p>
<p>
<h2> Driving Cost: </h2>
<p>
<p><%= number_to_currency(@location.fixed_car_round_trip) %> for gas. </p>
<p>
<p>
<p> 
<h2> Flight Cost: </h2>
<%= @location.get_kayak_feed %>
<p>
<p>
<p>
<h2> Bus Cost: </h2>
<%= @location.get_bus_cost %></ br>
<p>
<p>
<%= @time %> to <%= @future_time %>

<p><%= link_to "Compare travel options for your next destination", :action => "start" %>


