
<h1> Here's how much it will cost to get to <%= @location.city_to %> from <%= @location.city_from %> </h1>

<p>
<p>
<p>
<h2>One Way:</h2>
<%= number_to_currency(@location.gas_cost) %>
<p>
<p>
<h2>Round Trip: </h2>
<%= number_to_currency(@location.round_trip) %>
<p>
<p>
<p> 
<p> This will likely return a bunch of feeds, need to find the cheapest one for the month --></p>
<p> CITY FROM: <%= @location.origin_iata_code %></br>
<p> CITY TO: <%= @location.destination_iata_code %><p/></br>

<p><%= @location.get_kayak_feed %>
<p><%= link_to "Find more gas costs", :action => "start" %>
<p>
<%= link_to "About Us", :action => "about" %>