
<h1> Here's a cost comparison of travel methods from <%= @location.city_from %> to <%= @location.city_to %> </h1>

<p>
<p>
<p>
<h2> Cost to Drive: </h2>
<h3>One Way:</h3>
<%= number_to_currency(@location.fixed_car_gas_cost) %>
<p>
<p>
<h3>Round Trip: </h3>
<%= number_to_currency(@location.fixed_car_round_trip) %>
<p>
<p>
<p> 
<h2> Cost to Fly: </h2>
<h3> Round Trip </h3>
<%= @location.get_kayak_feed %>
<p>
<p>
<p>
<h2> Bus Cost </h2>
<%= number_to_currency(@location.get_bus_cost) %></ br>
<%= @time %> to <%= @future_time %>

<p><%= link_to "Compare travel options for your next destination", :action => "start" %>
<p>
<%= link_to "About Us", :action => "about" %>