	<div id="header-wrap">
		<div id="header">discover the <span class="htitle">cheapest</span> method of travel</div>
	</div>
	<div id="topdiv-wrap">
		<div id="topdiv">
			compare cost of:<br /><br />
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="right" valign="top"><%= image_tag("icn-plane.png", :border => 0, :size => "55x54", :class => "icn")%><br />flying&nbsp;</td>
				<td align="center" valign="top"><%= image_tag("icn-car.png", :border => 0, :size => "55x54", :class => "icn")%><br />driving</td>
				<td align="left" valign="top"><%= image_tag("icn-bus.png", :border => 0, :size => "55x54", :class => "icn")%><br />&nbsp;&nbsp;bus</td>
			</tr>
			</table>
		</div>
	</div>
<div id="content-wrap">
	<div id="content">
	<br />
  <table width="100%" border="0" cellpadding="0" cellspacing="8">
		<tr>
		<% semantic_form_for :location, @location, :url => {:action => "results"} do |f| %>
      <%= f.error_messages %>
			<td align="center" valign="top"></td>
			<td align="center" valign="top">
			<b><%= f.label :city_from, "Where are you coming from?" %></b>
				<%= f.input :city_from, :wrapper_html => { :style => "display:inherit;" }, :as => :select, :collection => @iatas %>
        
			</td>
		</tr>
		<tr>
			<td align="center" valign="top"></td>
			<td align="center" valign="top">
			<b><%= f.label :city_to, "Where are you going?" %></b>
				<%= f.input :city_to, :wrapper_html => { :style => "display:inherit;" }, :as => :select, :collection => @iatas %>
        
			</td>  		
		</tr>
		<tr>
			<td align="center" valign="top">&nbsp;</td>
			<td align="center" valign="top"><%= image_submit_tag("btn-go.png") %><br />
      </td>			
		</tr>
		<% end %>
		</table>
	</div>
</div>
<div id="socialbookmark">
<iframe src="http://www.facebook.com/plugins/like.php?href=www.getsetapp.com&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=recommend&amp;font=segoe+ui&amp;colorscheme=dark&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe> 
</div>
<div id="cantfindcity">
Can't find your city? Let us know via email or twitter.
</div>
