<h1> Find out how much gas it costs for your trip.</h1>

<% semantic_form_for :location, @location, :url => {:action => "results"} do |f| %>
  <%= f.error_messages %>
<%= f.label :city_to, "Where do you want to go?" %>
<p>
<%= f.input :city_to, :as => :select, :collection => ["Raleigh, NC", 
                                                      "New York, NY - JFK", 
                                                      "New York, NY - LGA", 
                                                      "Los Angeles, CA", 
                                                      "Dallas/Ft. Worth, TX"] %>
<p>
<%= f.label :city_from, "Where are you coming from?" %>
<p>
<%= f.input :city_from, :as => :select, :collection => ["Raleigh, NC", 
                                                      "New York, NY - JFK", 
                                                      "New York, NY - LGA", 
                                                      "Los Angeles, CA", 
                                                      "Dallas/Ft. Worth, TX"] %>
<p>
<%= f.label :gas_price, "Enter a gas price." %>
<p>
<%= f.text_field :gas_price %>
<p>
<%= f.label :gas_mileage, "Enter the gas mileage of your car." %>
<p>
<%= f.text_field :gas_mileage %>
<p>
<p>
<%= submit_tag "Go" %>

<% end %>
<p>
<%= link_to "About Us", :action => "about" %>