<h2> Find the Cheapest Way to Get Where you need to go by:</h2>
<h2><ul>
<li> Calculating the gas cost of your drive </li>
<li> Showing the cheapest flight to your destination </li>
<li> Comparing the two costs to help you decide how to get where you need to go </li>
</ul> </h2>
<% semantic_form_for :location, @location, :url => {:action => "results"} do |f| %>
  <%= f.error_messages %>
<%= f.label :city_to, "Where do you want to go?" %>
<p>
<%= f.input :city_to, :wrapper_html => { :style => "display:;" }, :as => :select, :collection => ["Atlanta, GA",
                                                      "Anchorage, AL",
                                                      "Austin, TX",
                                                      "Baltimore, MD",
                                                      "Boston, MA",
                                                      "Charlotte, NC",
                                                      "Chicago, IL",
                                                      "Chicago, IL",
                                                      "Cincinnati, OH", 
                                                      "Cleveland, OH",
                                                      "Columbus, OH",
                                                      "Colorado Springs, CO",
                                                      "Dallas/Ft. Worth, TX",
                                                      "Denver, CO",
                                                      "Detroit, MI",
                                                      "Fort Lauderdale, FL",
                                                      "Fort Meyers, FL",
                                                      "Hartford, CT",
                                                      "Houston, TX - IAH",
                                                      "Houston, TX - HOU",
                                                      "Indianapolis, IN",
                                                      "Kansas City, MO",
                                                      "Las Vegas, NV", 
                                                      "Los Angeles, CA",                                                                                                            
                                                      "Memphis, TN",
                                                      "Miami, FL",
                                                      "Minneapolis, MN",
                                                      "Nashville, TN",
                                                      "New Orleans, LA",
                                                      "New York - JFK, NY", 
                                                      "New York - LGA, NY",
                                                      "Newark, NJ",
                                                      "Oakland, CA",                                                      
                                                      "Ontario, CA",
                                                      "Orlando, CA",
                                                      "Philadelphia, PA",
                                                      "Phoenix, AZ",
                                                      "Pittsburgh, PA",
                                                      "Portland, OR",
                                                      "Raleigh, NC",
                                                      "Sacramento, CA",
                                                      "Salt Lake City, UT",
                                                      "San Antonio, TX",
                                                      "San Diego, CA",
                                                      "San Francisco, CA",
                                                      "San Jose, CA",
                                                      "Santa Ana, CA",
                                                      "Seattle, WA",
                                                      "St. Louis, MO",
                                                      "Tampa, FL",
                                                      "Washington, D.C. - IAD",
                                                      "Washington, D.C. - DCA" ] %>                                                  
<p>
<%= f.label :city_from, "Where are you coming from?" %>
<p>
<%= f.input :city_from, :wrapper_html => { :style => "display:inherit;" }, :as => :select, :collection => ["Atlanta, GA",
                                                      "Anchorage, AL",
                                                      "Austin, TX",
                                                      "Baltimore, MD",
                                                      "Boston, MA",
                                                      "Charlotte, NC",
                                                      "Chicago, IL",
                                                      "Chicago, IL",
                                                      "Cincinnati, OH", 
                                                      "Cleveland, OH",
                                                      "Columbus, OH",
                                                      "Colorado Springs, CO",
                                                      "Dallas/Ft. Worth, TX",
                                                      "Denver, CO",
                                                      "Detroit, MI",
                                                      "Fort Lauderdale, FL",
                                                      "Fort Meyers, FL",
                                                      "Hartford, CT",
                                                      "Houston, TX - IAH",
                                                      "Houston, TX - HOU",
                                                      "Indianapolis, IN",
                                                      "Kansas City, MO",
                                                      "Las Vegas, NV", 
                                                      "Los Angeles, CA",                                                                                                            
                                                      "Memphis, TN",
                                                      "Miami, FL",
                                                      "Minneapolis, MN",
                                                      "Nashville, TN",
                                                      "New Orleans, LA",
                                                      "New York - JFK, NY", 
                                                      "New York - LGA, NY",
                                                      "Newark, NJ",
                                                      "Oakland, CA",                                                      
                                                      "Ontario, CA",
                                                      "Orlando, CA",
                                                      "Philadelphia, PA",
                                                      "Phoenix, AZ",
                                                      "Pittsburgh, PA",
                                                      "Portland, OR",
                                                      "Raleigh, NC",
                                                      "Sacramento, CA",
                                                      "Salt Lake City, UT",
                                                      "San Antonio, TX",
                                                      "San Diego, CA",
                                                      "San Francisco, CA",
                                                      "San Jose, CA",
                                                      "Santa Ana, CA",
                                                      "Seattle, WA",
                                                      "St. Louis, MO",
                                                      "Tampa, FL",
                                                      "Washington, D.C. - IAD",
                                                      "Washington, D.C. - DCA" ] %>
<p>
<%= f.label :gas_price, "Enter a gas price." %>
<p>
<%= f.text_field :gas_price %>
<p>
<%= f.label :gas_mileage, "Enter the gas mileage of your car." %>
<p>
<%= f.text_field :gas_mileage %>
<p>
<p>
<%= submit_tag "Go" %>

<% end %>
<p>
<%= link_to "About Us", :action => "about" %>