<div class="wrapper">
	<div id="top-wrap">
		<div id="top"><%= link_to(image_tag("logo.png", :border => 0, :size => "188x141", :class => "logo"), {:controller => "location", :action => "start"}, :alt => "Discover the cheapest method of travel with Getset") %></div>
	</div>

	<div id="header-wrap">
		<div id="header">discover the <span class="htitle">cheapest</span> method of travel</div>
	</div>
	<div id="topdiv-wrap">
		<div id="topdiv">
			compare cost of:<br /><br />
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="right" valign="top"><%= image_tag("icn-plane.png", :border => 0, :size => "55x54", :class => "icn")%><br />flying&nbsp;</td>
				<td align="center" valign="top"><%= image_tag("icn-car.png", :border => 0, :size => "55x54", :class => "icn")%><br />driving</td>
				<td align="left" valign="top"><%= image_tag("icn-bus.png", :border => 0, :size => "55x54", :class => "icn")%><br />&nbsp;&nbsp;bus</td>
			</tr>
			</table>
		</div>
	</div>
<div id="content-wrap">
	<div id="content">
	<br />
		<table width="100%" border="0" cellpadding="0" cellspacing="8">
		<tr>
		<% semantic_form_for :location, @location, :url => {:action => "results"} do |f| %>
      <%= f.error_messages %>
			<td align="center" valign="top"></td>
			<td align="center" valign="top">
			<b><%= f.label :city_from, "Where are you coming from?" %></b>
				<%= f.input :city_from, :wrapper_html => { :style => "display:inherit;" }, :as => :select, :collection => ["Albany, NY",
				                                                      "Albuquerque, NM",
				                                                      "Atlanta, GA",
                                                              "Anchorage, AK",
                                                              "Austin, TX",
                                                              "Baltimore, MD",
                                                              "Bangor, ME",
                                                              "Baton Rouge, LA",
                                                              "Birmingham, AL",
                                                              "Binghampton, NY",
                                                              "Boston, MA",
                                                              "Buffalo, NY",
                                                              "Charleston, WV",
                                                              "Charlotte, NC",
                                                              "Chattanooga, TN",
                                                              "Chicago, IL - MDW",
                                                              "Chicago, IL - ORD",
                                                              "Cincinnati, OH", 
                                                              "Cleveland, OH",
                                                              "Columbus, OH",
                                                              "Colorado Springs, CO",
                                                              "Dallas, TX",
                                                              "Denver, CO",
                                                              "Des Moines, IA",
                                                              "Detroit, MI",
                                                              "Fayetteville, NC",
                                                              "Ft Lauderdale, FL",
                                                              "Ft Myers, FL",
                                                              "Ft Wayne, IN",
                                                              "Greensboro, NC",
                                                              "Hartford, CT",
                                                              "Houston, TX - IAH",
                                                              "Houston, TX - HOU",
                                                              "Indianapolis, IN",
                                                              "Ithaca, NY",
                                                              "Jacksonville, FL",
                                                              "Kansas City, MO",
                                                              "Key West, FL",
                                                              "Knoxville, TN",
                                                              "Las Vegas, NV", 
                                                              "Los Angeles, CA",
                                                              "Louisville, KY",
                                                              "Manchester, NH",                                                                                                           
                                                              "Memphis, TN",
                                                              "Miami, FL",
                                                              "Milwaukee, WI",
                                                              "Minneapolis, MN",
                                                              "Nashville, TN",
                                                              "New Orleans, LA",
                                                              "New York, NY - JFK", 
                                                              "New York, NY - LGA",
                                                              "Newark, NJ",
                                                              "Oakland, CA",
                                                              "Oklahoma City, OK",                                                      
                                                              "Ontario, CA",
                                                              "Omaha, NE",
                                                              "Orlando, FL",
                                                              "Philadelphia, PA",
                                                              "Phoenix, AZ",
                                                              "Pittsburgh, PA",
                                                              "Portland, OR",
                                                              "Portland, ME",
                                                              "Providence, RI",
                                                              "Raleigh, NC",
                                                              "Reno, NV",
                                                              "Rochester, NY",
                                                              "Sacramento, CA",
                                                              "Salt Lake City, UT",
                                                              "San Antonio, TX",
                                                              "San Diego, CA",
                                                              "San Francisco, CA",
                                                              "San Jose, CA",
                                                              "Santa Ana, CA",
                                                              "Seattle, WA",
                                                              "St Louis, MO",
                                                              "Syracuse, NY",
                                                              "Tampa, FL",
                                                              "Tulsa, OK",
                                                              "Washington, DC - IAD",
                                                              "Washington, DC - DCA",
                                                              "White Plains, NY" ] %>
        
			</td>
		</tr>
		<tr>
			<td align="center" valign="top"></td>
			<td align="center" valign="top">
			<%= f.label :city_to, "Where are you going?" %></b>
				<%= f.input :city_to, :wrapper_html => { :style => "display:inherit;" }, :as => :select, :collection => ["Albany, NY",
				                                                      "Albuquerque, NM",
				                                                      "Atlanta, GA",
                                                              "Anchorage, AK",
                                                              "Austin, TX",
                                                              "Baltimore, MD",
                                                              "Bangor, ME",
                                                              "Baton Rouge, LA",
                                                              "Boston, MA",
                                                              "Binghampton, NY",
                                                              "Birmingham, AL",
                                                              "Buffalo, NY",
                                                              "Charleston, WV",
                                                              "Charlotte, NC",
                                                              "Chattanooga, TN",
                                                              "Chicago, IL - MDW",
                                                              "Chicago, IL - ORD",
                                                              "Cincinnati, OH", 
                                                              "Cleveland, OH",
                                                              "Columbus, OH",
                                                              "Colorado Springs, CO",
                                                              "Dallas, TX",
                                                              "Denver, CO",
                                                              "Des Moines, IA",
                                                              "Detroit, MI",
                                                              "Fayetteville, NC",
                                                              "Ft Lauderdale, FL",
                                                              "Ft Myers, FL",
                                                              "Ft Wayne, IN",
                                                              "Greensboro, NC",
                                                              "Hartford, CT",
                                                              "Houston, TX - IAH",
                                                              "Houston, TX - HOU",
                                                              "Indianapolis, IN",
                                                              "Ithaca, NY",
                                                              "Jacksonville, FL",
                                                              "Kansas City, MO",
                                                              "Knoxville, TN",
                                                              "Las Vegas, NV", 
                                                              "Los Angeles, CA",
                                                              "Louisville, KY",
                                                              "Manchester, NH",                                                                                                          
                                                              "Memphis, TN",
                                                              "Miami, FL",
                                                              "Milwaukee, WI",
                                                              "Minneapolis, MN",
                                                              "Nashville, TN",
                                                              "New Orleans, LA",
                                                              "New York, NY - JFK", 
                                                              "New York, NY - LGA",
                                                              "Newark, NJ",
                                                              "Oakland, CA",
                                                              "Oklahoma City, OK",                                                      
                                                              "Ontario, CA",
                                                              "Omaha, NE",
                                                              "Orlando, FL",
                                                              "Philadelphia, PA",
                                                              "Phoenix, AZ",
                                                              "Pittsburgh, PA",
                                                              "Portland, OR",
                                                              "Portland, ME",
                                                              "Providence, RI",
                                                              "Raleigh, NC",
                                                              "Reno, NV",
                                                              "Rochester, NY",
                                                              "Sacramento, CA",
                                                              "Salt Lake City, UT",
                                                              "San Antonio, TX",
                                                              "San Diego, CA",
                                                              "San Francisco, CA",
                                                              "San Jose, CA",
                                                              "Santa Ana, CA",
                                                              "Seattle, WA",
                                                              "St Louis, MO",
                                                              "Syracuse, NY",
                                                              "Tampa, FL",
                                                              "Tulsa, OK",
                                                              "Washington, DC - IAD",
                                                              "Washington, DC - DCA",
                                                              "White Plains, NY" ] %>
        
			</td>  		
		</tr>
		<tr>
			<td align="center" valign="top">&nbsp;</td>
			<td align="center" valign="top"><%= image_submit_tag("btn-go.png") %></br>
      </td>			
		</tr>
		<% end %>
		</table>
	</div>
</div>
<div id="facebooklike">
<iframe src="http://www.facebook.com/plugins/like.php?href=www.getsetapp.com&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=recommend&amp;font=segoe+ui&amp;colorscheme=dark&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe> 
</div>
<div id="cantfindcity">
Can't find your city? Let us know via email or twitter.
</div>
